---
import AstroIcon from "./icons/Astro.astro";
---

<footer
  class="text-center p-3 backdrop-blur-xl bg-slate-950/20 rounded-tr-full rounded-tl-full"
>
  <p
    class="flex items-center justify-center gap-1 uppercase text-[12px] font-bold"
  >
    <span>Developed using</span><AstroIcon />
    Astro
  </p>
</footer>

<style></style>
