---

---

<nav
  class="flex justify-center items-center mx-auto sticky bottom-0 md:top-0 w-full md:w-[720px] py-5 z-10"
>
  <div
    class="hidden sticky md:flex gap-1 bg-gray-900/50 backdrop-blur-md px-4 py-0.5 rounded-full text-xl"
  >
    <a
      href="/#sobre-mi"
      class="py-0.5 px-4 rounded-full transition-all duration-200 hover:text-blue-500"
      >Sobre mi</a
    >
    <a
      href="/#social"
      class="py-0.5 px-4 rounded-full transition-all duration-200 hover:text-blue-500"
      >Social</a
    >
    <a
      href="/#proyectos"
      class="py-0.5 px-4 rounded-full transition-all duration-200 hover:text-blue-500"
      >Proyectos</a
    >
    <a
      href="/#habilidades"
      class="py-0.5 px-4 rounded-full transition-all duration-200 hover:text-blue-500"
      >Habilidades</a
    >
  </div>
</nav>
