---
import type { Props } from '@interfaces/SectionContainer';

const { className, id } = Astro.props;
---

<section class={`w-full md:w-[720px] container mx-auto ${className}`} id={id}>
	<slot />
</section>

<style></style>
