---

---

<div
  class="col-span-2 md:col-span-1 border-2 bg-slate-900 border-slate-700 rounded-2xl p-4 text-center text-base font-bold flex items-center justify-center gap-2 min-w-[155px]"
>
  <slot />
</div>

<style></style>
