---
import type { Props } from '@interfaces/Tag';

const { text, color = 'gray' } = Astro.props;

const backgroundColors: Record<typeof color, string> = {
	blue: 'bg-blue-600/30',
	gray: 'bg-gray-600/30',
	green: 'bg-green-600/30',
	yellow: 'bg-yellow-600/30',
	indigo: 'bg-indigo-600/30',
};
---

<div
	class={`rounded-full flex items-center px-4 py-1 gap-2 ${backgroundColors[color]}`}
>
	<slot />
	<p>{text}</p>
</div>

<style></style>
